In [1]:
%magic
!pip install pymysql
!pip install ipython-sql
%load_ext sql

Requirement already satisfied: pymysql in /Users/kunlunwang/opt/anaconda3/lib/python3.9/site-packages (1.0.2)
Requirement already satisfied: ipython-sql in /Users/kunlunwang/opt/anaconda3/lib/python3.9/site-packages (0.4.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in /Users/kunlunwang/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /Users/kunlunwang/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: ipython>=1.0 in /Users/kunlunwang/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: sqlparse in /Users/kunlunwang/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: prettytable<1 in /Users/kunlunwang/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: six in /Users/kunlunwang/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: pexpect>4.3 in /Users/kunlunwang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: jedi>=0.16 in /Users/kunlunwang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/kunlunwang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: pickleshare in /Users/kunlunwang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in /Users/kunlunwang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: traitlets>=5 in /Users/kunlunwang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in /Users/kunlunwang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /Users/kunlunwang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: appnope in /Users/kunlunwang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: decorator in /Users/kunlunwang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: stack-data in /Users/kunlunwang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in /Users/kunlunwang/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/kunlunwang/opt/anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/kunlunwang/opt/anaconda3/lib/python3.9/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /Users/kunlunwang/opt/anaconda3/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in /Users/kunlunwang/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: asttokens in /Users/kunlunwang/opt/anaconda3/lib/python3.9/site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: executing in /Users/kunlunwang/opt/anaconda3/lib/python3.9/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in /Users/kunlunwang/opt/anaconda3/lib/python3.9/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)

In [2]:
db_user = "root"
db_password = "015100264"
connection_string_template = "mysql+pymysql://{db_user}:{db_password}@localhost"
connection_string = connection_string_template.format(db_user=db_user, db_password=db_password)
connection_string

'mysql+pymysql://root:015100264@localhost'

In [5]:
%sql $connection_string
%sql create database if not exists users;
%sql create database if not exists blog;
%sql create database if not exists commentdb;

 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.
 * mysql+pymysql://root:***@localhost
1 rows affected.

[]

In [6]:
%sql use users
%sql drop table if exists users

 * mysql+pymysql://root:***@localhost
0 rows affected.
 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [7]:
import pymysql
conn = pymysql.connect(
    host="localhost",
    port=3306,
    user=db_user,
    password=db_password,
    cursorclass=pymysql.cursors.DictCursor,
    autocommit=True)
conn

In [9]:
%%sql

create table users
(
    id   int not NULL,
    last_name   varchar(128) not null,
    first_name  varchar(128) not null,
    email_address    varchar(256) not null,
    username varchar(256) not null,
    password varchar(256) not null,
    PRIMARY KEY (id)
);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [10]:
%sql describe users

 * mysql+pymysql://root:***@localhost
6 rows affected.

[('id', 'int', 'NO', 'PRI', None, ''),
 ('last_name', 'varchar(128)', 'NO', '', None, ''),
 ('first_name', 'varchar(128)', 'NO', '', None, ''),
 ('email_address', 'varchar(256)', 'NO', '', None, ''),
 ('username', 'varchar(256)', 'NO', '', None, ''),
 ('password', 'varchar(256)', 'NO', '', None, '')]

In [11]:
%sql use blog
%sql drop table if exists blogs

 * mysql+pymysql://root:***@localhost
0 rows affected.
 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [12]:
%%sql

create table blogs
(
    blog_id int not NULL,
    title   varchar(128) not null,
    description  varchar(10000) not null,
    blog_owner_id   varchar(256) not null,
    time varchar(256) not null,
    PRIMARY KEY (blog_id)
);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [13]:
%sql describe blogs

 * mysql+pymysql://root:***@localhost
5 rows affected.

[('blog_id', 'int', 'NO', 'PRI', None, ''),
 ('title', 'varchar(128)', 'NO', '', None, ''),
 ('description', 'varchar(128)', 'NO', '', None, ''),
 ('blog_owner_id', 'varchar(256)', 'NO', '', None, ''),
 ('time', 'varchar(256)', 'NO', '', None, '')]

In [17]:
%sql use commentdb
%sql drop table if exists comments

 * mysql+pymysql://root:***@localhost
0 rows affected.
 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [18]:
%%sql

create table comments
(
    id int auto_increment not NULL,
    content   varchar(10000) not null,
    blog_id  varchar(128) not null,
    owner_id   varchar(256) not null,
    comment_time varchar(256) not null,
    PRIMARY KEY (id)
);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [19]:
%sql describe comments

 * mysql+pymysql://root:***@localhost
5 rows affected.

[('id', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('content', 'varchar(128)', 'NO', '', None, ''),
 ('blog_id', 'varchar(128)', 'NO', '', None, ''),
 ('owner_id', 'varchar(256)', 'NO', '', None, ''),
 ('comment_time', 'varchar(256)', 'NO', '', None, '')]